#ContactPageContainer{
    background-color: rgba(40,40,46, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -2em;
    gap: 1.5vw;
    max-height: 150vh;
    max-width: 70vw;
    border-radius: 20px;
    padding: 1vw;
    text-align: left;
    animation: opac 0.3s ease;
    margin: 2rem 0;
}
#ContactPageContainer > *{
    color: rgba(240, 240, 2245, 0.99);
}
.ContactCard{
    border: 2px solid rgba(200,200,210, 0.7);
    border-radius:10px;
    padding: 0.5rem 0.5rem 1rem 1rem;
    font-size: 1.2rem;
    font-family: Raleway;
    font-weight: 400;
}
.ContactCard:nth-child(1)
{
    font-size: 1.5rem;
    font-weight: 500;
}
.ContactCard:nth-child(1) > p{
    padding: 0.5rem;
    margin: 0.5rem 0 0.3rem 0;
}
.ContactCard > h2{
    margin: 1rem 0;

}
#ani{
    display: block;
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    object-position: center;
    margin-top: 1em;
    
}
@media screen and (max-width: 768px){
    #ContactPageContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        max-width: 90vw;
    }
    #ani{
        max-width: 80%;
        max-height: auto;
        object-fit: contain;
        object-position: center;
        margin: 1rem auto;
    }
}

@keyframes opac{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}
