* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
#CollapseCardContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(30, 31, 34, 0.9);
    margin: 1rem;
    border-radius: 6px;
    color: rgb(240,240,240);
    height: auto;
    border: 2px solid rgba(240, 240, 240, 0.7);
}

#CollapseToggle{
    border-radius: inherit;
    font-weight: 600;
    font-size: 1em;
    background-color: rgba(60, 60, 66, 0.9);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
#CollapseToggle > h1{
    flex: 2 2 0px;
    text-align: center;
}
#CollapseToggle > img{
    flex: 1 1 0px; 
    display: block;
    max-width: 50px;
    object-fit: contain;
    object-position: center;
    transition: transform 0.25s ease;
}
@container (max-width: 300px){
    #CollapseToggle{
        padding:0;
        font-size: 0.5rem;
    }


}
.rotate{
    transform: rotate(-90deg);
}
#CollapseContent{
    text-align: left;
    max-height: 1000%;   
}
#CollapseContent>p{
    padding: 0.7rem 1rem;
    margin: 0;
}
.show{
    transition: all 0.1s ease, height 0.27s cubic-bezier(0.3, 0.1, 0.4, 1), opacity 0.25s ease 0.18s, transform 0.2s ease, visibility 0.2s ease;
    opacity: 0.9;
    visibility: visible;

}
.hide{
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease,opacity 0.2s linear 0.05s, height 0.25s ease 0.02s, visibility 0.08s linear 0.05s;
}